@import "tailwindcss";

@font-face {
    font-family: "Space Mono";
    src: url("/fonts/SpaceMono-Regular.ttf") format("truetype"),
         url("/fonts/SpaceMono-Bold.ttf") format("truetype");
    font-weight: 400;
}

body,
html {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}